extends ../layout

block content
  h1= title
  // Content here
  main.px-3
    p
      | Hola 
      span#username
      | ,
    p#parrafo
      | Arrastra a 
      span#turtleName
      |  a una sala para jugar
    #avatar
    br
    // Salas
    .container.overflow-hidden.salas
      .row.gy-5
        each room, key in rooms
          .col-6.parentRoom
            if room.available
              .p-3.border.bg-light.room(id='room'+room.id name='' ondrop='drop(event)' ondragover='allowDrop(event)')
                p #{room.name}
            else 
              .p-3.border.bg-light.room
                p #{room.name} NO DISPONIBLE
  // Funciones JS
  script(type='text/javascript' src='/javascripts/playFunctions.js')
