extends ../layout

block content
  h1= title
  if room.players != undefined
    p Jugadores:
    each player, key in rooms.players
      p #{player.name}

  table.table.table-bordered
    tbody
      tr
        td#a1.table-light Example
        td#a2.table-light Example
        td#a3.table-light Example
        td#a4.table-light Example
      tr
        td#a1.table-light Example
        td#a2.table-light Example
        td#a3.table-light Example
        td#a4.table-light Example
      tr
        td#a1.table-light Example
        td#a2.table-light Example
        td#a3.table-light Example
        td#a4.table-light Example
      tr
        td#a1.table-light Example
        td#a2.table-light Example
        td#a3.table-light Example
        td#a4.table-light Example
