extends ../layout

block content
  h1= title
  if room.players != undefined
    p Jugadores:
    ul
    each player, key in room.players
      li(id=player.id)
        img(src=player.avatar.image width="32") 
        | #{player.name}
        if player.id == user.player.id      
          |  (Tú)
  table.table.table-bordered
    tbody
      tr
        td#a-1.table-light(onclick="clic('a-1')")
        td#a-2.table-light(onclick="clic('a-2')")
        td#a-3.table-light(onclick="clic('a-3')")
        td#a-4.table-light(onclick="clic('a-4')")
      tr
        td#b-1.table-light Example
        td#b-2.table-light Example
        td#b-3.table-light Example
        td#b-4.table-light Example
      tr
        td#c-1.table-light Example
        td#c-2.table-light Example
        td#c-3.table-light Example
        td#c-4.table-light Example
      tr
        td#d-1.table-light Example
        td#d-2.table-light Example
        td#d-3.table-light Example
        td#d-4.table-light Example
