extends ../layout

block content
  h1= title
  if room.players != undefined
    p Jugadores:
    ul
    each player, key in room.players
      li(id=player.id)
        img(src=player.avatar.image width="32") 
        | #{player.name}
        if player.id == user.player.id      
          |  (Tú)
  table.table.table-bordered
    tbody
      tr
        td#a1.table-light Example
        td#a2.table-light Example
        td#a3.table-light Example
        td#a4.table-light Example
      tr
        td#a1.table-light Example
        td#a2.table-light Example
        td#a3.table-light Example
        td#a4.table-light Example
      tr
        td#a1.table-light Example
        td#a2.table-light Example
        td#a3.table-light Example
        td#a4.table-light Example
      tr
        td#a1.table-light Example
        td#a2.table-light Example
        td#a3.table-light Example
        td#a4.table-light Example
