extends layout

block content
  h1= title
  main.px-3
    // Carousel
    #carouselExampleIndicators.carousel(data-bs-ride='carousel')
      .carousel-indicators
        button.active(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='1' aria-label='Slide 2')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='2' aria-label='Slide 3')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='3' aria-label='Slide 4')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='4' aria-label='Slide 5')
      #avataresHTML.carousel-inner
      button.carousel-control-prev(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.visually-hidden Previous
      button.carousel-control-next(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.visually-hidden Next
      // End carousel
    // Formulario
    form#formu(action='/rooms')
      h3.h3.mb-3.fw-normal Selecciona tu avatar 
        br
        | y escribe tu nombre de usuario
      .form-floating
        label(for='floatingInput') Nombre de usuario
        input#username.form-control(type='username' placeholder='Nombre de usuario')
      button.w-100.btn.btn-lg.btn-primary(type='submit') Continuar
      p.mt-5.mb-3.text-muted ©2021
      // End Formulario
    // End Main
  // Funciones JS
  script(type='text/javascript' src='/javascripts/loginFunctions.js')

