<main class="px-3">

    <form id="formu">
        <h1 class="h3 mb-3 fw-normal">Por favor, introduce un nombre de usuario visible para el resto de jugadores</h1>
    
        <div class="form-floating">
          <label for="floatingInput">Nombre de usuario</label>
          <input type="username" class="form-control" id="username" placeholder="Nombre de usuario">
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
        <p class="mt-5 mb-3 text-muted">©2021</p>
      </form>

</main>










<!--Scripts here-->
<script>
if (typeof(Storage) === "undefined") {
  alert("tu navegador no soporta storage")
  window.location.href = '/';           
}
</script>

<script>
   function setUserName(){
      const userName = document.getElementById('username').value;
      if (userName!=''){
        localStorage.setItem("username",userName);
        window.location.href = './play';
      }else{
        alert("introduce nombre de usuario");
        
      }
    }
    const form = document.getElementById("formu");
    form.onsubmit = (e) => {
      e.preventDefault();
      setUserName();
    }
   

    
    

</script>


   
