<!--Content here-->

<main class="px-3">
    <h1>Hola <span id="username"></span>,</h1>
    <p>Arrastra a <span id="turtleName"></span> a una sala para jugar</p>
    <div id="avatar"></div>
    <br>
    <!-- Salas -->
    <div class="container overflow-hidden salas">
        <div class="row gy-5">
          <div class="col-6">
            <div class="p-3 border bg-light">Sala 1</div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-light">Sala 2</div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-light">Sala 3</div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-light">Sala 4</div>
          </div>
        </div>
      </div>

</main>

<!--Scripts here-->

<script>
    
    if (typeof(Storage) !== "undefined") {
        // Code for localStorage/localStorage.
        if (localStorage.getItem("username")===null){
        //no esta definido
        window.location.href = './login';
        }else{
            // Nombre de usuario
            let username = localStorage.getItem('username');
            document.getElementById('username').innerHTML = username;
            // Avatar de usuario
            let avatar = localStorage.getItem('avatar');
            avatar = JSON.parse(avatar);
            let avatarHTML = '<img style="width:128px;height:128px;" src="'+avatar.img+'" alt="'+avatar.turtle+'">';
            document.getElementById('avatar').innerHTML = avatarHTML;
            document.getElementById('turtleName').innerHTML = avatar.turtle;
        }
    } else {
        alert("tu navegador no soporta storage");
        window.location.href = '/';
    }
    
</script>
<!--END File-->