.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .carousel-item img{
    width:128px;
    height:128px;
  }

  .carousel-item{
    width:128px !important;
    height:128px;
    float:none !important;
    margin:0px auto !important;
  }

  /* Estilo para el input del formulario */
  .form-control{
    background-color: #41464b;
  }

  /* Estilo para salas de juego */
  .salas{
    color:black;
  }