.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.carousel-item img{
  width:256px;
  height:256px;
}

.carousel-item{
  width:256px !important;
  height:256px;
  float:none !important;
  margin:0px auto !important;
}

/* Estilo para el input del formulario */
.form-control{
  background-color: #41464b;
}

/* Estilo para rooms */
.salas{
  color:black;
}

.room{
  height: 200px !important;
}


/* Estilo para room */
.free{
  background-color:aliceblue;
}
